<!DOCTYPE html>
<html>

<head>
    <% include /templates/head %>
</head>
<% function leftPad(value, totalWidth, paddingChar) { %>
    <%      var length = totalWidth - value.toString().length + 1; %>
    <%      return Array(length).join(paddingChar || '0') + value; %>
    <%  }; %>
    <% var now = new Date() %>
    <% var hoje = leftPad(now.getDate(), 2) + '/' + leftPad((now.getMonth() + 1), 2) + '/' +  leftPad(now.getFullYear(), 4) %>
    <% var hora = leftPad(now.getHours(),2) + ":" + leftPad(now.getMinutes(),2) %>
    <% var hoje = leftPad(now.getFullYear(), 4) + '-' + leftPad((now.getMonth() + 1), 2)  + '-' +   leftPad(now.getDate(), 2)   %>
    
    <% function getFormattedDate(date) { %>
        <%  var year = date.getFullYear(); %>
        <%  var month = (1 + date.getMonth()).toString(); %>
        <%  month = month.length > 1 ? month : '0' + month; %>
        <%  var day = date.getDate().toString(); %>
        <%  day = day.length > 1 ? day : '0' + day; %>
        <%  return day + '/' + month + '/' + year %>
    <% } %>
    

<body class="sidebar-mini skin-yellow">
    <!-- Site wrapper -->
    <div class="wrapper">

        <% include /templates/header %>
        <!-- =============================================== -->

        <!-- Content Wrapper. Contains page content -->
        
        <div class="content-wrapper">
            <!-- escrever conteúdo do sistema -->
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <a href="#" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus-square"></i></a>    
                            INCLUIR NOVO REGISTRO
                        </h3>
                    
                        <div class="box-tools pull-right">
                            
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div> 
                                                
                    </div>
                    <div class="modal fade" id="modal-default">
                        <div class="modal-dialog">
                            <form role="form" action="/arquivamentoSalvar/<%= idConciliador %>" method="post" encType="multipart/form-data">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">NOVO REGISTRO</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-group" id="accordion">
                                            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                            <div class="panel box box-primary">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            1# - Dados do Arquivo
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="box-body">
                                                        <div class="container-fluid">
                                                            <div class="row">                                                    
                                                                <div class="form-group col-lg-12" >
                                                                    <label>Status:</label>
                                                                    <select class="form-control" required="true" name="status" readonly="true">                                                                        
                                                                        <option value="1">01 - Registrando</option>
                                                                    </select>
                                                                </div>
                                                                        
                                                                <div class="form-group col-lg-6">
                                                                    <label>Data*:</label>
                                                                    <input type="date" class="form-control" name="data" id="data" placeholder="" autocomplete="off" MaxLength="200" required="true" data-toggle="tooltip" data-original-title="" value="<%= hoje %>" readonly="true">
                                                                </div>  
                                                                
                                                                <div class="form-group col-lg-6">
                                                                    <label>Hora*:</label>
                                                                    <input type="text" class="form-control" name="hora" id="hora" placeholder=""  autocomplete="off" MaxLength="200" required="true" data-toggle="tooltip" data-original-title="" value="<%= hora %>" readonly="true">
                                                                </div> 
                                                                
                                                                <div class="form-group col-lg-6" >
                                                                    <label>Administradora:</label>
                                                                    <select class="form-control select2" required="true" name="administradora" data-toggle="tooltip" data-original-title="Informe o Grupo do usuário" style="width: 100%">
                                                                        <option value="">Selecione</option>
                                                                        <% if( administradoras.length > 0 ) {%>
                                                                            <% for(var e=0; e < administradoras.length; e++) {%>
                                                                                <option value="<%= administradoras[e].id %>"><%= administradoras[e].nome %></option>
                                                                            <% } %>
                                                                        <% } %>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-lg-6" >
                                                                    <label>Tipo:</label>
                                                                    <select class="form-control select2" required="true" name="tipo" data-toggle="tooltip" data-original-title="Informe o Grupo do usuário" style="width: 100%">
                                                                        <option value="">Selecione</option>
                                                                        <% if( tipos.length > 0 ) {%>
                                                                            <% for(var e=0; e < tipos.length; e++) {%>
                                                                                <option value="<%= tipos[e].id %>"><%= tipos[e].nome %></option>
                                                                            <% } %>
                                                                        <% } %>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-lg-6">
                                                                    <label>Início*:</label>
                                                                    <input type="date" class="form-control" name="inicio" id="inicio" placeholder="" required="true" value="" autocomplete="off" MaxLength="200" required="true" data-toggle="tooltip" data-original-title="" >
                                                                </div>  
                                                                <div class="form-group col-lg-6">
                                                                    <label>Fim*:</label>
                                                                    <input type="date" class="form-control" name="fim" id="fim" placeholder="" value="" required="true" autocomplete="off" MaxLength="200" data-toggle="tooltip" data-original-title="" required="true">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel box box-danger">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            2# - Anexar Arquivo Cliente
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="box-body">
                                                        <div class="form-group col-lg-6">
                                                            <label>Anexar Layout:</label>
                                                            <input class="form-control" name="pathCliente" id="pathCliente" placeholder="" readonly="true" value="">                                               
                                                            <input type="file" name="fileCliente" accept=".xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                                                        </div>  
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel box box-success">
                                                <div class="box-header with-border">
                                                    <h4 class="box-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                            3# - Anexar Arquivo Administradora
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse">
                                                    <div class="box-body">
                                                        <div class="form-group col-lg-6">
                                                            <label>Anexar Layout:</label>
                                                            <input class="form-control" name="pathAdmin" id="pathAdmin" placeholder="" readonly="true" value="">                                               
                                                            <input type="file" name="fileAdmin" accept=".xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                                        </div>  
                                                                                                              
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                
                                                                                
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" onclick="window.location.href='/conciliador'">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </form>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                    
                    <div class="box-body">
                        <table id="grddados" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Hora</th>
                                    <th>Status</th>
                                    <th>Tipo</th>
                                    <th>Administradora</th>
                                    <th>Período</th>
                                    <th></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% var obj = new Object(); %>
                                <% obj[1]  = 'Aguardando Processando'%>
                                <% for( var i = 0; i < arquivamentos.length; i++) {%>
                                    <tr>                                        
                                        <td><%= getFormattedDate(arquivamentos[i].data) %></td>
                                        <td><%= arquivamentos[i].hora %></td>
                                        <td><%= obj[ arquivamentos[i].status ] %></td>
                                        <td>
                                            <% for( var e = 0; e < tipos.length; e++) {%>
                                            
                                                <% if( arquivamentos[i].tipo == tipos[e].id ) { %>
                                                    <%= tipos[e].nome %>
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td>
                                            <% for( var e = 0; e < administradoras.length; e++) {%>
                                            
                                                <% if( arquivamentos[i].administradora == administradoras[e].id ) { %>
                                                    <%= administradoras[e].nome %>
                                                <% } %>
                                            <% } %>
                                        </td>
                                        <td>
                                            <%= getFormattedDate(arquivamentos[i].inicio) + " - " + getFormattedDate(arquivamentos[i].fim) %>
                                        </td>
                                        
                                        
                                        <td>
                                            <div class="tools">
                                                <a href="#" data-toggle="modal" data-target="#modal-edicao-<%= arquivamentos[i].id %>" data-original-title="Remove"><i class="fa fa-edit"></i></a>
                                                <a href="#" data-toggle="modal" data-target="#modal-remove-<%= arquivamentos[i].id %>" data-original-title="Remove"><i class="fa fa-trash-o"></i></a> 
                                            </div>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    
                        <div class="ajax-content">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            
        </div>

        <!-- /.content-wrapper -->
        <% include /templates/footer %>        
        
        
        <div class="control-sidebar-bg"></div>
    </div>
</body>
<% include /templates/scripts %>
</html>